@using System;
@using System.Collections.Generic;
@using System.Linq;
@model List<Event>
<body>
    <h1>Welcome to Event Planner!</h1>

    <form action="/add/event">
        <input class="btn btn-primary btn-lg mb-3" type="submit" value="Add Event" />
    </form>

    <form asp-action="SearchEvent" asp-controller="Dashboard" method="post">
        <input class="form-control mb-2" placeholder="Search by event title" type="text" name="searchString" />
        <input class="btn btn-secondary mb-3" type="submit" value="Search" />
    </form>
    <br>
    <h5 class="mb-2">Top 5 upcoming events:</h5>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Poster</th>
                <th scope="col">Title</th>
                <th scope="col">Date</th>
                <th scope="col">Time</th>
                <th scope="col">Duration</th>
                <th scope="col">Coordinator</th>
                <th scope="col">Participants</th>
                <th scope="col">Actions</th>

            </tr>
        </thead>

        @foreach (var e in Model)
        {
        <tbody>
            <tr>
                <td><img src="@e.EventPhoto" alt="image" width="100"></td>
                <td><a href = "/view/@e.Id">@e.EventTitle </a></td>
                <td>@e.EventDate.ToString("MMMM dd")</td>
                <td>@e.EventTime.ToString("h:mm tt")</td>
                <td>@e.Duration @e.TimeType</td>
                <td>@e.CreatorName</td>
                <td>@e.Guests?.Count</td>
                <td>              
                    @if (@e.UserId == @ViewBag.UserId)
                    {
                        <a href="/delete/@e.Id">Delete</a>
                    }
                    else
                    {
                        @if (e.Guests.Any(g => g.UserId == @ViewBag.UserId))
                        {
                            <a href="/leave/event/@e.Id">Leave</a>
                        }
                        else
                        {
                            <a href="/join/event/@e.Id">Join</a> 
                        }
                    }
                </td>
            </tr>
        </tbody>
        }
    </table>





    
</body>